<div class="container">
  <h2>Tienda</h2>
  <div class="row">

    <div class="col-md-10" ng-repeat="item in vm.productos">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, s
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
	       <div href="#" class="thumbnail">
             <!--img src="../assets/images/tv.jpg" alt=""-->
             <img src="{{item.imagen}}" alt="" />
             <div class="caption">
               <h3>{{item.marca}}</h3>
               <h3>{{item.valor}}</h3>
               <a href="#" class="btn btn-success" ng-click="vm.agregarProducto()">AñadirCarrito</a>
               </div>
               </div>
             </div>
	      </div>
      <div class="col-md-2">
        <h2>totalPago</h2>
        <form class="" >
          <div class="form-group">

            <p>productol: {{vm.nombre}}</p>
            <p>descuento: {{vm.descuento}}</p>
            <p>totalPago: {{vm.totalPago}}</p>

          </div>

        </form>
    </div>
  </div>

</div>
