<div class="panel panel-primary">
  <div class="panel-heading">
    <form class="form-inline">
      <div layout-gt-xs="row" layout-sm="column" layout-align="center center" layout-wrap>
        <span flex></span>
        <md-button type="button" ng-click="vm.clearQuery()" class="md-raised md-primary md-hue-2" title="Limpiar filtros" aria-label="Limpiar filtro">
          <i class="fa fa-eraser" aria-hidden="true"></i>
          Limpiar Filtros
        </md-button>
        <md-button type="button" ng-click="vm.exportExcel()" class="md-raised md-primary md-hue-2" title="Exportar Excel" aria-label="Exportar Excel">
          <i class="fa fa-file-excel-o" aria-hidden="true"></i>
          Usuarios
        </md-button>
      </div>
    </form>
    <h3 class="panel-tittle">Filtrar</h3>
    <input type="text" class="form-control" ng-model="vm.filtro"name="" value="" ng-change="vm.filtrar()">
  </div>

<!-- MD DATA TABLE -->

<md-table-container>
  <table md-table class="table-bordered">
    
       <thead md-head>
          <tr md-row>
            <th md-column>NumeroDocumento</th>
            <th md-column>Nombre Completo</th>
            <th md-column> Sexo</th>
            <th md-column>Fecha de Nacimiento</th>
            <th md-column>Direccion</th>
            <th md-column>Correo personal</th>
            <th md-column>Correo Institucional</th>
            <th md-column>Telefono</th>
            <th md-column>Celular</th>
            <th md-column>Ciudad</th>
            <th md-column>eps</th>
            <th md-column>pension</th>
            <th md-column>ARL</th>
            <th md-column>acción</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr  md-row ng-repeat="item in vm.usuario | filter: vm.filtro | limitTo: vm.query.limit: (vm.query.page -1) * vm.query.limit">
            <th md-cell >{{item.numDocumento}}</th>
            <th md-cell >{{item.nombresCompletos}}</th>
            <th md-cell >{{item.sexo}}</th>
            <th md-cell >{{item.fechaNacimiento}}</th>
            <th md-cell >{{item.direccion}}</th>
            <th md-cell >{{item.emailPersonal}}</th>
            <th md-cell >{{item.emailInstitucional}}</th>
            <th md-cell >{{item.telefonoFijo}}</th>
            <th md-cell >{{item.celular}}</th>
            <th md-cell >{{item.ciudadesId.nombre}}</th>
            <th md-cell >{{item.epsId.nombre}}</th>
            <th md-cell >{{item.pensionId.nombre}}</th>
            <th md-cell >{{item.arlId.id}}</th>
            <th><md-switch class="md-primary" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5">
    Switch
  </md-switch></th>
            <th md-cell ><a class="btn btn.primary" ui-sref="usuarios-update({idUsuarios:item.id})">Editar</a></th>
            <th></th>
          </tr>

        </tbody>

      </table>
    </nd-table-container>

  </div>
</div>
<a ui-sref="usuarios-create">Nuevo usuario</a>
<md-table-pagination
  md-limit="vm.query.limit"
  md-limit-options="[5, 10, 20]"
  md-page="vm.query.page"
  md-total="{{vm.usuario.length}}">

</md-table-pagination>
 </div>
  </div>
<!-- /MD DATA TABLE -->
</div>


<upload-file></upload-file>


<!-- section>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Filtrar</h3>
      <input type="text" class="form-control" ng-model="vm.filtro">
    </div>
    <div class="panel-body">

      <md-table-container>
      <table md-table>
        <thead md-head>
          <tr md-row>
            <th md.column>Nombres  </th>
            <th md.column>Cedula  </th>
            <th md.column>Correo  </th>
            <th md.column>Celular  </th>
            <th md.column>Accion  </th>
          </tr>
        </thead>
      </table>
      <table>
        <tbody md-body>
          <tr md-row ng-repeat="item in vm.usuarios |
          limitTo: vm.query.limit:(vm.query.page -1)">
              ng-click="vm.goUpdateUser(item.id)">
              Editar</a>
            </td>
          </tr>
        </tbody>
      </table>
      </md-table-container>
    </div>
  </div>


<md-table-pagination
  md-limit="vm.query.limit"
  md-limit-options="[5, 10 15]"
  md-page="vm.query.page"
  md-total="{{vm.usuarios.length}}">
</md-table-pagination>
</section-->
