<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <form class="Form-padding md-whiteframe-3dp" md-colors="{background: 'grey-A100'}"> <!--ng-submit="vm.crearUsuario()"-->
        
      <div class="form-group">
            <label for="">Tipo Documento</label>
              <select class="form-control" name="" ng-model="vm.usuario.tiposDocumentoId.id" >
                <option ng-value="item.id" ng-repeat="item in vm.tipoDocumento">{{item.descripcion}}</option>
              </select>
        </div>
        <div class="form-group">
          <label for="">Documento</label>
          <input type="text" ng-model= "vm.usuario.numDocumento">
        </div>
        <div class="form-group">
          <label for="">Contraseña</label>
          <input type="password" ng-model= "vm.usuario.password">
        </div>
        <div class="form-group">
          <label for="">Nombres Completos</label>
          <input type="text" ng-model= "vm.usuario.nombresCompletos">
        </div>
        <div class="form-group">
          <label for="">Genero</label>
          <select class="form-control" ng-model= "vm.usuario.sexo">
            <option ng-repeat = "item in [{}, {text:'Masculino', value:'M'}, {text:'Femenino', value:'F'}]" ng-value="item.value">
              {{item.text}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Fecha de Nacimiento</label>
          <md-datepicker ng-model= "vm.usuario.fechaNacimiento" md-placeholder="Enter date"></md-datepicker>
        </div>
        <div class="form-group">
          <label for="">Direccion</label>
          <input type="text" ng-model= "vm.usuario.direccion">
        </div>
        <div class="form-group">
          <label for="">Correo Personal</label>
          <input type="text" ng-model= "vm.usuario.emailPersonal">
        </div>
        <div class="form-group">
          <label for="">Correo Institucional</label>
          <input type="text" ng-model= "vm.usuario.emailInstitucional">
        </div>
        <div class="form-group">
          <label for="">Fijo</label>
          <input type="text" ng-model= "vm.usuario.telefonoFijo">
        </div>
        <div class="form-group">
          <label for="">Celular</label>
          <input type="text" ng-model= "vm.usuario.celular">
        </div>
        <div class="form-group">
          <label for="">EPS</label>
          <select class="form-control" ng-model="vm.usuario.epsId.id" >
            <option ng-value="item.id" ng-repeat = "item in vm.eps">{{item.nombre}} </option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Pension</label>
          <select class="form-control" ng-model="vm.usuario.pensionId.id" >
            <option ng-value="item.id" ng-repeat = "item in vm.pension">{{item.nombre}} </option>
          </select>
        </div>
        <div class="form-group">
          <label for="">ciudades</label>
          <select class="form-control" ng-model="vm.usuario.ciudadesId.id" >
            <option ng-value="item.id" ng-repeat = "item in vm.ciudad">{{item.nombre}} </option>
          </select>
        </div>
        <div class="form-group">
          <label for="">ARL</label>
          <select class="form-control" ng-model="vm.usuario.arlId.id" >
            <option ng-value="item.id" ng-repeat = "item in vm.arl">{{item.codigo}} </option>
          </select>
        </div>
        <div class="">
        <button type="button" name="button"  ng-click="vm.crearUsuario()">crear</button>
        </div>
      </form>
    </div>
  </div>
</div>
