<div class="container">
	<h2 style="font-family:'Microsoft JhengHei UI Light'; font-weight: bold">BIENVENIDO AL LOGIN</h2>
	
	<div class="row">

		<div class="col-md-6
			<form class="userForm" name="loginForm" ng-submit="vm.login()">

				<label for="">Email</label>
				<div class="form-group">
				<input type="text" ng-model="vm.usuarioss.emailInstitucional" class="form-control" placeholder="Correo" autofocus required>
			</div>

				

				<label for="">Password</label>
				<div class="form-group">
				<input type="text" class="form-control" ng-model="vm.user.password" placeholder="Contraseña" required>
			</div>

				<button type="submit" class="btn btn-success">Iniciar</button>
			</form>			
		</div>
	</div>
</div>



